body{
    height: 750px;
    width: 1400px;
    background: 98%;
    background-image: url('/assets/img/wallpaperonepiece.jpg');
}

#juego {
    opacity: 1;
    padding-left: 250px;
    padding-top: 50px;
}

table {
    width: 30%;
    height: 60%;
}

td {
    width: 30%;
    height: 60%;
    background-color: black;
    border: 6px solid red;
    border-radius: 5px;
}

td img{
    width: 200px;
    height: 300px;
}