<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div> -->
<h2>Bienvenido a nuestro juego: </h2>
<img src="../assets/img/kaydo.jpg" alt="imagen" width="200px" height="200px">
  <div id="juego">
      <table>
          <tr>
              <!-- *ngIf="posicion==='Victor'" -->
              <!-- pasamos el objeto especial event -->
            <!-- <img src="../assets/img/asce.jpg">Asce</img>> -->
            <td id="1" class="letra" (click)="levantarCartas($event)"> </td>
            <td id="2" class="letra" (click)="levantarCartas($event)">  </td>
            <td id="3" class="letra" (click)="levantarCartas($event)">  </td>
            <td id="4" class="letra" (click)="levantarCartas($event)"> </td>
          </tr>
      
          <tr>
            <td id="5" class="letra" (click)="levantarCartas($event)">  </td>
            <td id="6" class="letra" (click)="levantarCartas($event)">  </td>
            <td id="7" class="letra" (click)="levantarCartas($event)">  </td>
            <td id="8" class="letra" (click)="levantarCartas($event)">  </td>
          </tr>
        </table>
  </div>

  <!-- <button (click)="iniciarJuego()">Iniciar</button>
  <br>
  <button (click)="reiniciarJuego()">Reiniciar</button> -->

<router-outlet></router-outlet>
